<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
      crossorigin="anonymous"
    />

    <!-- <link rel="stylesheet" type="text/css" href="css/style.css" /> -->
  </head>
  <body class="" style="background-color: #008ecd;">
    <div class="container">
      <div class="row">
       
       

        <div class=" p-4 mx-auto mt-5 bg-white col-md-9 col-xl-6">
          <h2 class="mb-4"><%= title %></h2>

          <form class='gy-3' action="/hotel" method="POST" autocomplete="off">
            <input type="hidden" name="_id" value="<%= locals.hotel?._id ? locals.hotel._id :'' %>" />
            <div class="mb-3">
              <label lass="form-label">Hotel Id</label>
              <input
                type="text"
                class="form-control"
                name="hotelId"
                value="<%= locals.hotel?.hotelId ? locals.hotel.hotelId :'' %>"
              />
              <% if(locals.errors){ %>
                <div class="text-danger"><%= errors.hotelId %></div>
              <% } %>
            </div>

            <div class="mb-3">
              <label class="form-label">City Name</label>
              <input
                type="text"
                class="form-control"
                name="cityName"
                value="<%= locals.hotel?.cityName ? locals.hotel.cityName :'' %>"
              />
              <% if(locals.errors){ %>
              <div class="text-danger"><%= errors.cityName %></div>
              <% } %>
            </div>

            <div class="mb-3">
              <label class="form-label">Hotel Name</label>
              <input
                type="text"
                class="form-control"
                name="hotelName"
                value="<%= locals.hotel?.hotelName ? locals.hotel.hotelName :'' %>"
              />
              <% if(locals.errors){ %>
              <div class="text-danger"><%= errors.hotelName %></div>
              <% } %>
            </div>

            <div class="mb-3">
              <label class="form-label">hotel Information</label>
              <input
                type="text box"
                class="form-control p-4"
                name="info"
                value="<%= locals.hotel?.info ? locals.hotel.info :'' %>"
                
              />
              <% if(locals.errors){ %>
              <div class="text-danger"><%= errors.info %></div>
              <% } %>
            </div>


            <div class="mb-3">
              <label class="form-label">Hotel Image</label>
              <input
                type="text"
                class="form-control"
                name="image1Url"
                placeholder="/images/img.jpeg"
                value="<%= locals.hotel?.image1Url ? locals.hotel.image1Url :'' %>"
              />
              <% if(locals.errors){ %>
              <div class="text-danger"><%= errors.imageUrl %></div>
              <% } %>
            </div>

            <div class="mb-3">
              <label class="form-label">Hotel Image</label>
              <input
                type="text"
                class="form-control"
                name="image2Url"
                placeholder="/images/img.jpeg"
                value="<%= locals.hotel?.image2Url ? locals.hotel.image2Url :'' %>"
              />
              <% if(locals.errors){ %>
              <div class="text-danger"><%= errors.imageUrl %></div>
              <% } %>
            </div>

            <div class="mb-3">
              <label class="form-label">Hotel Image</label>
              <input
                type="text"
                class="form-control"
                name="image3Url"
                placeholder="/images/img.jpeg"
                value="<%= locals.hotel?.image3Url ? locals.hotel.image3Url :'' %>"
              />
              <% if(locals.errors){ %>
              <div class="text-danger"><%= errors.imageUrl %></div>
              <% } %>
            </div>

            <div class="mb-3">
              <label class="form-label">Location</label>
              <input
                type="text"
                class="form-control"
                name="location"
                value="<%= locals.hotel?.location ? locals.hotel.location :'' %>"
              />
              <% if(locals.errors){ %>
              <div class="text-danger"><%= errors.location %></div>
              <% } %>
            </div>
            <div class="mb-3">
              <label class="form-label">Distance</label>
              <input
                type="text"
                class="form-control"
                name="distance"
                value="<%= locals.hotel?.distance ? locals.hotel.distance :'' %>"
              />
              <% if(locals.errors){ %>
              <div class="text-danger"><%= errors.distance %></div>
              <% } %>
            </div>

            <div class="mb-3">
              <label class="form-label">Reservation </label>
              <input
                type="text"
                class="form-control"
                name="reservation"
                value="<%= locals.hotel?.reservation ? locals.hotel.reservation :'' %>"
              />
              <% if(locals.errors){ %>
              <div class="text-danger"><%= errors.reservation %></div>
              <% } %>
            </div>
             
          
            <div class="mb-3 mt-4">
              <button type="submit" class="btn btn-info me-2">
                <i class="fa fa-database"></i> Submit
              </button>
              <a class="btn btn-secondary" href="hotel/list"
                ><i class="fa fa-list-alt"></i> View All</a
              >
            </div>
          </form>

          

      </div>
    </div>


    




    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
